
.complete {
	text-decoration: line-through;
	opacity: 0.4;
  }

  .note-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 4px auto;
	color: #fff;
	background: linear-gradient(
	  90deg,
	  rgb(91, 89, 88) 0%,
	  rgb(64, 62, 61) 100%
	);
  
	padding: 16px;
	border-radius: 5px;
	width: 90%;
  }
  
  .note-row:nth-child(4n + 1) {
	background: linear-gradient(
	  90deg,
	  rgb(83, 82, 85) 0%,
	  rgb(74, 73, 75) 100%
	);
  }
  
  .note-row:nth-child(4n + 2) {
	background: linear-gradient(
	  90deg,
	  rgb(72, 68, 71) 0%,
	  rgb(68, 65, 67) 100%
	);
  }
  
  .note-row:nth-child(4n + 3) {
	background: linear-gradient(
	  90deg,
	  rgb(66, 67, 68) 0%,
	  rgb(68, 69, 71) 100%
	);
  }
  
  .icons {
	display: flex;
	align-items: center;
	font-size: 24px;
	cursor: pointer;
  }
  
  .delete-icon {
	margin-right: 5px;
	color: #fff;
  }
  
  .edit-icon {
	color: #fff;
  }
  
  .file-icon {
	color: #fff;
  }
  
  